.left-pane {
    -fx-background-color: #7aaac4;
}

.button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #80b0c8;
}

.tree-view {
    -fx-background-color: transparent;
}

.tree-cell {
    -fx-background-color: transparent;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #80b0c8;
    -fx-text-fill: #ffffff;
}

.tree-cell:filled:selected{
    -fx-background-color: #80b0c8;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-text-fill: #5a5a5a;
}

.btn-primary {
    -fx-background-color: #80b0c8;
}

.btn-primary:hover {
    -fx-background-color: #a3cce0;
}